html {
	scroll-behavior: smooth;
}
/* dropdown menu over sticky header */
.dropdown-menu {
	z-index: 1020;
}
.cursor-pointer {
	cursor: pointer;
}
.border-left-4 {
	border-left-width: 4px;
	border-left-style: solid;
}
.metrics {
	display: flex;
	flex-wrap: wrap;
	margin: -0.5em;
}
.metrics hr {
	margin-top: -0.05rem;
	margin-bottom: -0.05rem;
}
.metrics > div {
	text-align: center;
	flex: 1 1;
	margin: 0.4em;
}

.flex-trailer {
	display: none;
}

@media only screen and (max-width: 800px) {

	/* Force table to not be like tables anymore */
	.table-adaptative table,
	.table-adaptative thead,
	.table-adaptative tbody,
	.table-adaptative th,
	.table-adaptative td,
	.table-adaptative tr {
		display: block;
	}
	.table-adaptative tr:hover {
		background-color: initial!important;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.table-adaptative thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.table-adaptative tr {
		border-bottom: 1px solid #ccc;
		display: flex;
		flex-wrap: wrap;
       	}
	.table-adaptative td.flex-trailer {
		padding: 0px !important;
		display: block !!important;
	}
	.table-adaptative td {
		border: none!important;
		position: relative;
		padding-top: 1.5rem !important;
		white-space: normal;
		text-align: left;
		flex: 1 1 7em;
		text-align: left!important;
	}
	.table-adaptative td:before {
		position: absolute;
		top: 0.4rem;
		white-space: nowrap;
		text-align: left;
		color: #6c757d;
		font-size: small;
	}

	/*
	Label the data
	*/
	.table-adaptative td:before { content: attr(data-title); }
}

